/* simple-blog/welcome/welcome.css */
* {
  box-sizing: border-box;
}

body {
  background: #000 url("/img/editor-split.png") 50% / 100%;
  margin: 0;
  transition: background-size 1s;
}

@starting-style {
  body {
    background-size: 150%;
  }
}

body main {
  backdrop-filter: blur(3px);
  background: radial-gradient(#0000, #0009);
  height: 100vh;
  padding-top: 22vh;
  transition-delay: .5s;
}

body article {
  background-color: #fff;
  border-radius: 8px;
  max-width: 420px;
  margin: 0 auto;
  padding: 2em 2.2em 3em;
  transition-delay: 1s;
  box-shadow: 0 0 3em #0008;
}

body article h1 {
  text-align: left;
  font-size: 2em;
}

body article ol {
  padding: 0 1.4em 1em;
}

main, article {
  opacity: 1;
  transition: all .5s;
}

@starting-style {
  :is(main, article) {
    opacity: 0;
  }
}
